@import '~antd/dist/antd.css';

.mainContent {
  background-color: white;
  padding: 50px;
}

.ant-page-header {
  background-color: #459bd1;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRow a:active,
.flexRow a.active {
  border-bottom: 2px solid #3d2fa8;
  color: #5b51a6;
}

.navLink {
  margin-right: 30px;
  font-size: 20px;
  color: white;
}

.steps-content {
  margin-top: 20px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 20px;
}

.steps-action {
  margin-top: 24px;
}
[data-theme="dark"] .steps-content {
  margin-top: 16px;
  border: 1px dashed #303030;
  background-color: rgba(255,255,255,0.04);
  color: rgba(255,255,255,0.65);
  padding-top: 80px;
}
